venv/
.venv/
API keys/
__pycache__
Audio/
Flowcharts/
Helper Programs/
Old programs/
Voices/en_US-ryan-medium.onnx
Voices/en_US-ryan-medium.onnx.json
key.json
.cache
.spotify_cache_shift
.spotify_cache
driver_memory/
Pico Voice Agent/
Voices/
vocabulary.py
app.log
spotify_music.py